
.App {
  background-color: #27412f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; 
  gap: 20px; 
  
}

.sediment-counts{
  display:flex;
  flex-direction: row;
  gap: 30px;
  
}
.align{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.game-title {
  font-size: 48px; /* Big title */
  margin-right: 20px; /* Add some space between the title and the canvas */
}

.Gamecanvas {
  max-height: 80vh; /* Example: Limit canvas height */
  max-width: 80vw; /* Limit canvas width to maintain aspect ratio */
}

.instructions {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color:#000000;
}

.start-button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.start-button:hover {
  background-color: #0056b3;
}
